.card-header > .card-header-custom {background: rgba(75, 46, 131, 1)  ; color: #b7a57a;}
.carousel-inner img {margin: auto;}

[contenteditable] {
    border: solid 1px lightgreen;
    padding: 5px;
    border-radius: 3px;
}
  .carousel-item img{
      height: 30vw;
      object-fit: cover;
  }