.card-header > .card-header-custom {background: rgba(75, 46, 131, 1)  ; color: #b7a57a;}
.carousel-inner img {margin: auto;}

.btn-secondary {
    color: #fff;
    background-color:  rgb(158, 157, 160);
    border-color: #371588; /*set the color you want here*/
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    color: #fff;
    border-color: #b7a57a; /*set the color you want here*/
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: rgb(24, 24, 158) ;
    border-color: #807ab7 ;
}

[contenteditable] {
    border: solid 1px lightgreen;
    padding: 5px;
    border-radius: 3px;
}
  .carousel-item img{
      width: 200px;
      height: 300px;
      object-fit: cover;
  }

  .image-container img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

