{% extends "easyRL_app/base.html" %}
{% load static %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <button id="btn_train" class="btn btn-primary" style="margin:5px;">Train</button>
            </li>
            <li class="nav-item">
              <button id="btn-halt" class="btn btn-primary"style="margin:5px;">Halt</button>
            </li>
            <li class="nav-item">
              <button id="btn-test" class="btn btn-primary"style="margin:5px;">Test</button>
            </li>
            <li class="nav-item">
              <button id="btn-reset" class="btn btn-primary"style="margin:5px;">Reset</button>
              </li>  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="margin:5px;">Model </a>
                <div class="dropdown-menu">
                  <button class="dropdown-item" href="#">Save</button>
                  <div class="dropdown-divider btn"></div>
                  <button class="dropdown-item" href="#">Load</button>
                </div>
              </li> 
              <li class="nav-item">
                <button class="btn btn-primary"style="margin:5px;">Save Result</button>
              </li>  
              <li class="nav-item"><a href='/easyRL_app/logout'>
                <button class="btn btn-primary"style="margin:5px;">Sign out</button></a>
              </li>                                                                               
          </ul>
        </div>
        <!-- Carousel -->
        <div class="card-body">
            <h4>Environment</h4>
            <div class="row justify-content-center"style="margin-top: 0px">
              <div id="carouselExampleControlsNoTouching" class="carousel mbr-slider slide col-md-3" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  {% for file in files %}
                  {% if file == 'alien.jpg' %}
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-center w-100 h-100">
                        <img src="{% static 'easyRL_app/images/'%}{{file}}" data-name="{{file}}" alt="...">
                    </div>
                    </div>                        
                    {% else %}
                    <div class="carousel-item">
                      <div class="d-flex justify-content-center w-100 h-100">
                        <img src="{% static 'easyRL_app/images/'%}{{file}}" data-name="{{file}}" alt="...">
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %} 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>  
            <br/>               
            <h5 id="file-name" class="card-title"></h5>
            <button id="set-environment" class="btn btn-primary"><span class=""><i class="bi-card-image"></i></span> Select Environment</button>
        </div>
      </div>
    </div>
    <br/>
    <!-- Tabs & dropdowns-->
    <!-- Drop downs -->
    <div class="row justify-content-center " id="select-containers">
          <div class="col-md-3">
            <select class="form-select" id="agent-select" size="3" aria-label="Default select example">
                <option value ="0" selected>--Select Agent--</option>
                <option value="Deep Q">Deep Q</option>
                <option value="Q Learning">Q Learning</option>
                <option value="DRQN">DRQN</option>
                <option value="ADRQN">ADRQN</option>
                <option value="Double Dueling Deep Q Native">Double Dueling Deep Q Native</option>
                <option value="DRQN Native">DRQN Native</option>
                <option value="Conv DRQN Native">Conv. DRQN Native</option>
                <option value="PPO Native">PPO Native</option>
                <option value="Reinforce Native">Reinforce Native</option>
                <option value="ActorCritic Native">ActorCritic Native</option>
                <option value="SARSA">SARSA</option>
            </select>
          </div> 
          
          <div class="col-md-3">
            <select id="buffer-select" class="form-select" size="3" aria-label="Default select example">
                <option value="0" selected>--Select Buffer--</option>
                <option value="Hindsight Replay Buffer">Hindsight Replay Buffer</option>
                <option value="Prioritize Replay Buffer">Prioritize Replay Buffer</option>
            </select> 
          </div>
        
          <div class="col-md-3">           
            <select class="form-select" size="3" aria-label="Default select example">
              <option value="0" selected>--Select Host Environment--</option>
              <option value="1">EC2</option>
              <option value="2">Kubeflow</option>
              <option value="3">...</option>
              <option value="3">...</option>
              <option value="3">...</option>                               
            </select> 
          </div> 
        <br/>

      </div>                                          
      <br/>  
      <div class="row">
        <!-- Tabs -->   
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="hp-tab-0" data-bs-toggle="tab" data-bs-target="#hp" type="button" role="tab" aria-controls="hp" aria-selected="true">Hyper Parameters <i class="bi-dash-circle-fill"  style="color: red"></i></button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="add-model-tab" type="button" >Add <i class="bi-plus-circle-fill" style="color: #0b5ed7"></i></button>
              </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="hp" role="tabpanel" aria-labelledby="hp-tab-0">
              <div class="image_container">
                <img id="training_image" src="{% static 'easyRL_app/images/alien.jpg' %}" onError="this.onerror = '';this.style.visibility='hidden';"/>
                <p id="training_summary"></>
              </div>        
          </div>
        </div>  
      </div> 
      <div class="col">
        <form method="post" style="margin-top: 15px;">{% csrf_token %}
          <div id="form-div" class="container-fluid">
            <!-- <div class="row">
              <div class="slider-container col-6">
                <label>Gamma</label>
                <div class=""  >{{form.gamma}}</div>
                <div class="" style="margin: 0px 100px 0px 100px;">{{form.gamma_text}}</div>
              </div>
              <div class="col-md-6">
                <label>Number of Episodes</label>
              <div class="col-md-12"  >{{form.num_episodes}}</div>
            </div>
            </div>
            <div class="row">
              <div class="slider-container col-6">
                <label>Min Epsilon</label>
                <div class="">{{form.min_epsilon}}</div>
                <div class="" style="margin: 0px 100px 0px 100px;">{{form.min_text}}</div>
              </div>
              <div class="col-md-6">
              <label>Max Memory</label>
              <div class="col-md-12" >{{form.max_memory}}</div>
              </div>
            </div> 
            <div class="row">
              <div class="slider-container col-6">
                <label>Max Epsilon</label>
                <div class=""  >{{form.max_epsilon}}</div>
                <div class="" style="margin: 0px 100px 0px 100px;">{{form.max_text}}</div>
              </div>
              <div class="col-6">
              <label>Target Update Iterval</label>
              <div class="col-12"  >{{form.target_update}}</div>
              </div>
            </div> 
            <div class="row">
              <div class="slider-container col-6">
                <label>Batch Size</label>
                <div class=""  >{{form.batch}}</div>
                <div class="" style="margin: 0px 100px 0px 100px;">{{form.batch_text}}</div>
              </div>
              <div class="col-6">
              <label>Max Size</label>
              <div class="col-12">{{form.max_size}}</div>
              </div>
            </div> 
            <div class="row">
              <div class="slider-container col-6">
                <label>Decay Rate</label>
                <div class=""  >{{form.decay_rate}}</div>
                <div class="" style="margin: 0px 100px 0px 100px;">{{form.decay_text}}</div>
              </div>
              <div class="slider-container col-12">
                <label>Display Episode Speed</label>
                <div class=""  >{{form.display_ep_speed}}</div>
                <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>
              </div>
            </div>                                      
            <br/>                
            <button class="btn btn-primary  float-end type="submit">Submit form</button>
          </div>  
        </form> -->
      </div>        
    </div>
  </div>
  <script src="{% static 'easyRL_app/scripts/jquery-3.5.1.min.js' %}"></script>
  <script type="text/javascript"> 
    // Sets the Environment label
    $(document).ready(function(){
      $("#agent-select option").prop('disabled', true);  
      var src = $('.active').find('img').attr('src');
      src = src.slice(26,-4);
      $("#file-name").html(src);
      
      $("#batch-slider").on('input',function(){
        var newval=$(this).val();
        $("#batch-text").val(newval);
      }); 
      $("#gamma-slider").on('input',function(){
        var newval=$(this).val();
        $("#gamma-text").val(newval);
      }); 
      $("#min-slider").on('input',function(){
        var newval=$(this).val();
        $("#min-text").val(newval);
      }); 
      $("#max-slider").on('input',function(){
        var newval=$(this).val();
        $("#max-text").val(newval);
      }); 
      $("#decay-slider").on('input',function(){
        var newval=$(this).val();
        $("#decay-text").val(newval);
      }); 
      $("#display-slider").on('input',function(){
        var newval=$(this).val();
        $("#display-text").val(newval);
      });                 
    });

    $('#add-model-tab').click(function (e) {
        var nextTab = $('#myTab li').length+1;    
      // create the tab
      
      $("#myTab li:nth-child(2)").before($('<li class="nav-item" role="presentation"><button class="nav-link" id="hp-tab'+nextTab+'" data-bs-toggle="tab" data-bs-target="#hp'+nextTab+'" type="button" role="tab" aria-controls="hp'+nextTab+'" aria-selected="false">Hyper Parameters'+nextTab+' <i class="bi-dash-circle-fill"  style="color: red"></i></button></li>'));
      // create the tab content

      $('<div class="tab-pane fade" id="hp'+nextTab+'" role="tabpanel" aria-labelledby="hp-tab'+nextTab+'">'+form+'</div>').appendTo('.tab-content');;
      // make the new tab active
      $('#myTab').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
    });

    $('#carouselExampleControlsNoTouching').on('slid.bs.carousel', function () {
      var src = $('div > .active').find('img').attr('src');
      var b = src.slice(26,-4);
      $("#file-name").html(b);
      $('#agent-select').val(0);
      $('#buffer-select').val(0);
      $("#agent-select option").prop('disabled', true);  
    });

    $('#set-environment').click(function() {
      $("#select-containers").show();
      updateSelect($('#file-name').text())
    });
    $( "#agent-select" ).change(function () {
      var str = $( "#agent-select option:selected" ).text();
      str = simpleFormFactory(str);
      $( "#form-div" ).html(str);
    }).change();

    function updateSelect(fileName){
      var games = {
            'Cart Pole' : ['Deep Q', 'DRQN', 'ADRQN','Double Dueling Deep Q Native', 'DRQN Native', 'PPO Native', 'Reinforce Native', 'ActorCritic Native']
            ,'Cart Pole Discrete' : ['Deep Q', 'Q Learning', 'DRQN', 'ADRQN','Double Dueling Deep Q Native', 'DRQN Native', 'PPO Native', 'Reinforce Native', 'ActorCritic Native','SARSA']
            ,'Frozen Lake': ['Deep Q', 'Q Learning', 'DRQN', 'ADRQN','Double Dueling Deep Q Native', 'DRQN Native', 'PPO Native', 'Reinforce Native', 'ActorCritic Native','SARSA']
            ,'Pendulum' : ['Deep Q', 'DRQN', 'ADRQN','Double Dueling Deep Q Native', 'DRQN Native', 'PPO Native', 'Reinforce Native', 'ActorCritic Native']
            ,'acrobot': ['Deep Q', 'DRQN', 'ADRQN','Double Dueling Deep Q Native', 'DRQN Native', 'PPO Native', 'Reinforce Native', 'ActorCritic Native']
            ,'Mountain Car' : ['Deep Q', 'DRQN', 'ADRQN','Double Dueling Deep Q Native', 'DRQN Native', 'PPO Native', 'Reinforce Native', 'ActorCritic Native']
            ,'default' : ['DRQN', 'ADRQN', 'Conv. DRQN Native']
          };

        switch(fileName){
          case 'acrobot':
            $("#agent-select > option").each(function() {   
              if (games[fileName].indexOf(this.text) !== -1){
                  this.disabled = false;
                }
            });
            break;
          case 'Cart Pole':
            $("#agent-select > option").each(function() {   
                if (games[fileName].indexOf(this.text) !== -1){
                  this.disabled = false;
                }
            });
            break;
          case 'Cart Pole Discrete':
            $("#agent-select > option").each(function() {   
              if (games[fileName].indexOf(this.text) !== -1){
                  this.disabled = false;
                }
            });           
            break;
          case 'Fronzen Lake':
            $("#agent-select > option").each(function() {   
              if (games[fileName].indexOf(this.text) !== -1){
                  this.disabled = false;
                }
            });
            break;
          case 'Mountain Car':
            $("#agent-select > option").each(function() {   
              if (games[fileName].indexOf(this.text) !== -1){
                  this.disabled = false;
                }
            });
            break;           
          default:
            $("#agent-select > option").each(function() {   
              if (games['default'].indexOf(this.text) !== -1){
                  this.disabled = false;
                }
            });
            break;
        }     
    }
    
    function track_training_progress() {  
			var image = document.getElementById("graph-image");   
			var value = "True";  
			var loop = setInterval(load_image, 1000);  
			
			function load_image() {    
				if (value != "True"){
					clearInterval(loop)
				} 
				else {      
					$.ajax({
						url: '/easyRL_app/test/',
						dataType: 'text',
						success: function (data) {
							value = data;
						}
					});
					
					$.ajax({
						url: '/easyRL_app/image/',
						dataType: 'image/gif',
						success: function (data) {
							alert("test");
							if (data) {
								$("#graph-image").attr("src", data);
							}
						}
					});
				}  
			}
		}
    
    // Train button
	$("#btn_train").click(function () {
		// get values from sliders
		//var slider = $(this).val();
		
		$.ajax({
			url: '/easyRL_app/train/',
			data: {
				"environment": 1
	            ,"agent": 1
	            ,"episodes": 50
	            ,"steps": 200
	            ,"gamma": 0.97
	            ,"minEpsilon": 0.1
	            ,"maxEpsilon": 1.0
	            ,"decayRate": 0.018
	            ,"batchSize": 32
	            ,"memorySize": 1000
	            ,"targetInterval": 200
			},
			dataType: 'text',
			success: function (data) {
				if (data == "0") {
					// code to display images from S3
					// alert("The job is running");
				}
				else {
					// something wrong in here
					alert("something wrong in here");
				}
			}
		});
		
		var isRunning = "True";
		var interval = setInterval(function() {

			$.ajax({
				url: '/easyRL_app/is_job_running/',
				dataType: 'text',
				success: function (data) {
					isRunning = data;
				}
			});
					
			if(isRunning == "False") {
			    clearInterval(interval);
			    $("#training_summary").html("Hello");
			    return;
			}
			
			$("#training_image").attr("src", '/easyRL_app/image/?' + (new Date()).getTime());
			
		}, 5000);
	    
	});
  
var defaults = '<div class="container-fluid">'
            +     '<div class="row">'
            +       '<div class="slider-container col-6">'
            +         '<label>Gamma</label>'
            +         '<div class=""  >{{form.gamma}}</div>'
            +         '<div class="" style="margin: 0px 100px 0px 100px;">{{form.gamma_text}}</div>'
            +       '</div>'
            +       '<div class="col-md-6">'
            +         '<label>Number of Episodes</label>'
            +       '<div class="col-md-12"  >{{form.num_episodes}}</div>'
            +     '</div>'
            +     '</div>'
            +     '<div class="row">'
            +       '<div class="slider-container col-6">'
            +         '<label>Min Epsilon</label>'
            +         '<div class="">{{form.min_epsilon}}</div>'
            +'         <div class="" style="margin: 0px 100px 0px 100px;">{{form.min_text}}</div>'
            +'       </div>'
            +'       <div cass="col-6">'
            +'       <label>Max Size</lael>'
            +'       <div class="col-12">{{form.max_size}}</div>'
            +'       </div>'
            +'     </div> '
            +'     <div class="row">'
            +'       <div class="slider-container col-6">'
            +'         <label>Max Epsilon</label>'
            +'         <div class=""  >{{form.max_epsilon}}</div>'
            +'         <div class="" style="margin: 0px 100px 0px 100px;">{{form.max_text}}</div>'
            +'       </div>'
            +'       <div class="slider-container col-6">'
            +'         <label>Decay Rate</label>'
            +'         <div class=""  >{{form.decay_rate}}</div>'
            +'         <div class="" style="margin: 0px 100px 0p 100px;">{{form.decay_text}}</div>'
            +'       </div>'
            +'     </div>';

var deepQ = defaults +
        +'     <div class="row">'
        +'       <div class="col-6">'
        +'       <label>Target Update Iterval</label>'
        +'       <div class="col-12"  >{{form.target_update}}</div>'
        +'       </div>'
        +'       <div class="col-md-6">'
        +'          <label>Max Memory</label>'
        +'          <div class="col-md-12" >{{form.max_memory}}</div>'
        +'       </div>'
        +'     </div>' 
        +'     <div clss="row">'
        +'       <div class="slider-container col-6">'
        +'         <label>Batch Size</label>'
        +'         <div class=""  >{{form.batch}}</div>'
        +'         <div class="" style="margin: 0px 100px 0px 100px;">{{form.batch_text}}</div>'
        +'       </div>'
        +'       <div class="slider-container col-12">'
        +'         <label>Display Episode Speed</label>'
        +'         <div class=""  >{{form.display_ep_speed}}</div>'
        +'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
        +'       </div>'
        +'     </div>                                      '
        +'     <br/>                '
        +'   </div>  ';

var qLearning = defaults  
+'      <div class="row>'
+'       <div class="slider-container col-6">'
+'         <label>Alpha</label>'
+'         <div class=""  >{{form.alpha_rate}}</div>'
+'         <div class="" style="margin: 0px 100px 0p 100px;">{{form.alpha_text}}</div>'
+'       </div>' 
+'       <div class="slider-container col-12">'
+'         <label>Display Episode Speed</label>'
+'         <div class=""  >{{form.display_ep_speed}}</div>'
+'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
+'       </div>' 
+'      </div>';

var drqn = deepQ +
+'      <div class="row">'
+'       <div class="col-md-6">'
+'          <label>History Length</label>'
+'          <div class="col-md-12" >{{form.history_length}}</div>'
+'       </div>'
+'       <div class="slider-container col-12">'
+'         <label>Display Episode Speed</label>'
+'         <div class=""  >{{form.display_ep_speed}}</div>'
+'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
+'       </div>'
+'      </div>';

var doubleDueling = deepQ 
+'      <div class="row>'
+'       <div class="slider-container col-6">'
+'         <label>Learning Rate</label>'
+'         <div class=""  >{{form.learning_rate}}</div>'
+'         <div class="" style="margin: 0px 100px 0p 100px;">{{form.learn_text}}</div>'
+'       </div>' 
+'       <div class="slider-container col-12">'
+'         <label>Display Episode Speed</label>'
+'         <div class=""  >{{form.display_ep_speed}}</div>'
+'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
+'       </div>' 
+'      </div>';

var convDRQNNative = drqn + doubleDueling;

var actorCritc = defaults 
+     '<div class="row">'
+       '<div class="slider-container col-6">'
+         '<label>Policy Learn Rate</label>'
+         '<div class=""  >{{form.policy_learn_rate}}</div>'
+         '<div class="" style="margin: 0px 100px 0px 100px;">{{form.plr_text}}</div>'
+       '</div>'
+       '<div class="col-md-6">'
+         '<label>History</label>'
+       '<div class="col-md-12"  >{{form.history}}</div>'
+     '</div>'
+     '</div>'
+     '<div class="row">'
+       '<div class="slider-container col-6">'
+         '<label>Value Learn Rate</label>'
+         '<div class="">{{form.value_learn_rate}}</div>'
+'         <div class="" style="margin: 0px 100px 0px 100px;">{{form.vlr_text}}</div>'
+'       </div>'
+'       <div cass="col-6">'
+'       <label>Epoch</lael>'
+'       <div class="col-12">{{form.epoch}}</div>'
+'       </div>'
+'     </div> '
+'    <div class="row">'
+'       <div class="slider-container col-12">'
+'         <label>Display Episode Speed</label>'
+'         <div class=""  >{{form.display_ep_speed}}</div>'
+'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
+'       </div>'
+'    </div>';

var reinforceNative = defaults
+'      <div class="row>'
+'       <div class="slider-container col-6">'
+'         <label>Learning Rate</label>'
+'         <div class=""  >{{form.policy_learn_rate}}</div>'
+'         <div class="" style="margin: 0px 100px 0p 100px;">{{form.plr_text}}</div>'
+'       </div>'
+'       <div class="slider-container col-12">'
+'         <label>Display Episode Speed</label>'
+'         <div class=""  >{{form.display_ep_speed}}</div>'
+'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
+'       </div>'  
+'      </div>';

var ppoNative = actorCritc
+'     <div clss="row">'
+'       <div class="slider-container col-6">'
+'         <label>Batch Size</label>'
+'         <div class=""  >{{form.batch}}</div>'
+'         <div class="" style="margin: 0px 100px 0px 100px;">{{form.batch_text}}</div>'
+'       </div>'
+'       <div class="slider-container col-12">'
+'         <label>Display Episode Speed</label>'
+'         <div class=""  >{{form.display_ep_speed}}</div>'
+'         <div class="" style="margin: 0px 200px 0px 200px;">{{form.display_text}}</div>'
+'       </div>'
+'     </div>';

var sarsa = qLearning;

function simpleFormFactory(agent){
    var result = "";
    switch(agent){
        case "Deep Q":
            result = deepQ;
            break;
        case "Q Learning":
            result = qLearning;
            break;
        case "DRQN":
            result = drqn;
            break;
        case "ADRQN":
            result = drqn;
            break;
        case "Double Dueling Deep Q Native":
            result = doubleDueling;
            break;
        case "DRQN Native":
            result = drqn;
            break;
        case "Conv. DRQN Native":
            result =convDRQNNative;
        case "PPO Native":
            result = ppoNative;
            break;
        case "Reinforce Native":
            result = reinforceNative;
            break;
        case "ActorCritic Native":
            result = actorCritc;
            break;
        case "SARSA":
            result = sarsa;
            break;
    }
    return result
}
  </script>  
{%endblock%}