{% extends "easyRL_app/base.html" %}
{% load static %}
{% block title %}My EasyRL {% endblock %}
{% block content %}
<div class="container-fluid justify-content-md-center align-items-center">
    <div class="row ">
        <div class="col-md-4 col-sm-2"></div>
        <div class="card col-md-4 col-sm-12" style="padding:0px">
            <div class="card-header item-content-center" >
            AWS Access Credentials
            </div>
            <div class="card-body  justify-content-md-center align-items-center">
               
                <form method="post" action="">{% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="form-control btn btn-primary float-right">Login</button>
                </form>
            </div>
            <div class="card-footer text-muted">
            
            </div>

        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</div>
{% endblock %}
