{% extends "easyRL_app/base.html" %}
{% load static %}
{% block title %}My EasyRL {% endblock %}
{% block content %}
<div class="container-fluid justify-content-md-center align-items-center" style="margin-top: 50px">
    <div class="row ">
        <div class="col-md-4 col-sm-2"></div>
        <div class="card col-md-4 col-sm-12" style="padding:0px">
            <div class="card-header item-content-center" >
            AWS Access Credentials
            </div>
            <div class="card-body ">
                <div id="payment" style="display: none; border: 1px solid red; border-radius: 10px; margin-bottom: 20px;">
                    <p style="padding: 10px;">The EasyRL application requires an active AWS account. To execute RL workloads EC2 instances will be created on your account. Any use will result in charges directly to your AWS account.
                         By logging in to this app you are agreeing to all charges to your account and we are not liable for any of 
                         said charges. Please verify that all EasyRL EC2 instances have been terminated when finished.
                    </p>
                </div>
                <form method="post" action="">{% csrf_token %}
                    {{form.as_p}}
                    <div class="row">
                    <div class="col hiders"></div>
                    <div class='col hiders'></div>
                    <span class="float-right col"><button type="submit" class="form-control btn btn-primary float-right">Login</button></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</div>
<script src="{% static 'easyRL_app/scripts/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("div > form > p > input").focusin(function(){
             $("#payment").fadeIn(3000);
        });

        $('.hiders').hover(function(){
            $("#payment").fadeOut(1000, function () {
                $("#payment").hide();
            });
        })
        $("span > button[type=submit]").hover(function() {
            $("#payment").fadeOut(1000, function () {
                $("#payment").hide();
            });
        });
    });
</script>
{% endblock %}
